@import "compass/css3", "settings";
//large: 2rem
//medium: 1.2rem
//normal: 1rem
//small: .8rem
h6, .h6 {
  
}
h5, .h5 {
  font-family: $headings-font-family;
  font-size: 1em; font-size: 1rem;
  font-weight: normal;
  line-height: 1.2em;
  margin: $gutter/2 0 0 0;
}
h4, .h4 {
  font-family: $headings-font-family;
  font-size: 1.2rem; font-size: 1.2em;
  font-weight: bold;
  line-height: 1.2em;
  color: $headings-color;
  margin: 0 0 0.5em 0;
}
h3, .h3 {
  font-family: $headings-font-family;
  font-size: 1.2em; font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.2em;
  margin: 0 0 $gutter 0;
}
.h3-bigstrong {
  strong {
    color: inherit;
    font-size: 2em;
  }  
}
//section h1,
h2, .h2 {
  font-family: $headings-font-family;
  font-size: 1.5rem; font-size: 1.5em;
  font-weight: 300;
  line-height: 1.2em;
  margin: 0 0 $gutter 0;
}
h1, .h1 {
  font-family: $headings-font-family;
  font-size: 2rem; font-size: 2em;
  font-weight: 300;
  line-height: 1.2em;
  margin: 0 0 $gutter 0;
}
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  a {
    &:hover, 
    &:active {
      text-decoration: none;
    }
  }
  strong {
    color: $headings-strong-color;
    font-size: 1em;
    font-weight: $headings-strong-font-weight;
  }
  &.monochrome {
    strong {
      color: inherit;
    }
  }
}
