@import "compass/css3", "settings";
.slideshow,
.slideshow .slide {
  width: 1000px;
  height: 500px;
}
.slideshow .slide img {
  width: 500px;
  height: 500px;
}
#intro {
  .tagline {
    font-size: 100%;
  }
}
