html {
  font-family: $text-font-family;
  line-height: $text-line-height;
  color: $text-color;
  font-size: $text-font-size;
  font-weight: $text-font-weight;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
// Layout
// Basic structure
#page,
#header,
#main,
#footer,
body > footer {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  clear: both;
}