$bianco: #ffffff;
//$grigio_chiaro: #f0f0f0;
$grigio_chiaro: #f6f6f6;
$grigio_scuro: #939393;
$nero: #000000;
$very-light-gray: #e5e5e5;
$light-gray: #ccc;
$dark-gray: #6E7370;
$orange: #f07d00;

$rosa_pesca: #fbd9ca;//13
$celeste: #bce3fa;//19
$azzurro_chiaro: #82cff5;//31
$rosa_salmone: #f29a9a;//37
$azzurro_acqua: #87cee0;//46
$azzurro: #00b1eb;//47
$azzurro_blu: #009bd5;//48
$blu_ceruleo: #1f82c0;//49
$rosso_arancio: #e85236;//59
$zafferano: #f6aa42;//61
$giallo_limone: #ffef44;//63
$verde_limone_chiaro: #ddde4b;//64
$ciano: #009fe3;//71
$blu_elettrico: #005ca9;//73
$rosso_fragola: #e40045;//81
$rosso_carminio: #e4032e;//82
$rosso: #e30513;//83
$rosso_vermiglione: #e84e0f;//84
$arancio: #f39200;//85
$giallo_arancio: #fbb900;//86
$giallo_cadmio: #ffdd00;//87
$giallo: #ffed00;//88
$verde_limone: #dddc00;//89
$verde_mela: #95c11e;//90
$verde_cadmio: #12a537;//91
$verde: #009640;//92
$blu_pavone: #00668f;//96
$blu_marina: #164e82;//97
$mattone: #b84d1f;//105
$arancio_scuro: #bd7419;//106
$oro: #d7ae00;//107
$giallo_oro: #edc500;//108
$terra_verde: #aea112;//109
$verdone: #007b3c;//112
$terra_di_siena: #8c3816;//125
$tabacco: #8f5412;//126
$cannella: #d08f7b;//160
$beige: #d4b489;//161
$sabbia: #d6c590;//162
$senape: #c09848;//183
$grigio_rosa_chiaro: #c3a5b0;//196
$grigio_rosa_antico: #c3a4a3;//197
$cipria_scuro: #c4a395;//198
$beige_scuro: #c6b29c;//199
$grigio_sabbia: #c8c0a4;//200
$terra_di_siena_bruciata: #835344;//222
$grigio_verde_scuro: #556b54;//225
$grigio_petrolio: #516b69;//226
$marrone_scuro: #593328;//228
$verde_foresta_scuro: #334734;//230

$testo_twenty: #2b2b2b;

$carne: #fee0bc;
$canella: #d0907b;

$rosso_isotype: #c7302c;