@import
				"compass/css3";
ul, ol {
  &.flex {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}
// Lists
.list-container {
  .list-header {
    h1 {
      @include inline-block(top);
      width: calc(100% - 48px);
      margin-top: 0;
      padding-top: .5rem;
      font-size: 1.2rem;
    }
    a.archive-link {
      float: right;
      margin: 0;
      .screen-reader-text {
        display: none;
      }
    }
  }
}
.list {
				article {
								.entry-header {
												margin-left: 0;
												margin-right: 0;
												padding-left: 0;
												padding-right: 0;
												.entry-title {
																border-top: 0 none;
																margin-left: 0;
																margin-right: 0;
												}
								}
				}
}
// Tags
.tags-list {
				a {
								background-color: $tag-background;
								color: $tag-color;
								border-radius: 0 2px 2px 0;
								@include inline-block;
								font-size: 11px;
								font-weight: 700;
								line-height: 1.2727272727;
								margin: 2px 4px 2px 10px;
								padding: 3px 7px;
								position: relative;
								text-transform: uppercase;
								&:hover {
												background: $tag-hover-background;
												color: $tag-hover-color;
												text-decoration: none;
								}
								&:before {
												border-top: 10px solid transparent;
												border-right: 8px solid $tag-background;
												border-bottom: 10px solid transparent;
												content: "";
												height: 0;
												position: absolute;
												top: 0;
												left: -8px;
												width: 0;
								}
								&:hover:before {
												border-right-color: $tag-hover-background;
								}
								&:after {
												background-color: #fff;
												border-radius: 50%;
												content: "";
												height: 4px;
												position: absolute;
												top: 8px;
												left: -2px;
												width: 4px;
								}
				}
}
// Logos
ul.logos, ol.logos, .list.logos {
  li, .list-item {
    img {
      max-width: 100%;
      width: auto;
      max-height: 150px;
    }
  }
}