@mixin align-container($horizontal: null, $vertical: null, $method: null, $child-width: null, $child-height: null){
/*
$horizontal:
$vertical: 'top' | 'baseline' | 'middle' (center) | 'bottom' | 'justify' (stretch);
        @if $height != null {
                height: $height;
        }
*/
  @if $method == 'text' {
    @if $horizontal == 'left' {
      text-align: left;
    }
    @if $horizontal == 'center' {
      text-align: center;
    }
    @if $horizontal == 'right' {
      text-align: right;
    }
  } @else if $method == 'float' {

  } @else if $method == 'position' {
    position: relative;
  } @else if $method == 'flex' {
    @include display-flex();
    @if $vertical == 'top' {
      @include align-items(flex-start);
    } @else if $vertical == 'baseline' {
      @include align-items(baseline);
    } @else if $vertical == 'middle' {
      @include align-items(center);
    } @else if $vertical == 'bottom' {
      @include align-items(flex-end);
    } @else if $vertical == 'justify' {
      @include align-items(stretch);
    }
    @if $horizontal == 'center' {
      @include justify-content(center);
    }
  }
}
@mixin align-child($horizontal: null, $vertical: null, $method: null, $width: null, $height: null){
// Fonti: http://www.w3.org/Style/Examples/007/center.en.html,
// method: 'text' or 'inline' | 'float' | 'position' | 'flex';
  @if $method == 'text' {

  } @else if $method == 'float' {

  } @else if $method == 'position' {
    display: block;// useful if child is an inline element
    @if $horizontal == 'center' {
      @if $vertical == 'middle' {
              left: 50%;
              margin-right: -50%;
      } @else {
              margin: 0 auto;
      }
    } @else if $horizontal == 'right' {
      right: 0;
    } @else if $horizontal == 'full' {
      left: 0; right: 0;
    }
    @if $vertical != null or $horizontal != null {
      position: absolute;
    }
    @if $vertical == 'middle' {
      margin-top: 0;
      margin-bottom: 0;
      position: absolute;
      top: 50%;
      @if $horizontal == 'center' {
              transform: translate(-50%,-50%);
      } @else {
              transform: translateY(-50%);
      }
    } @else if $vertical == 'bottom' {
      bottom: 0;
    } @else if $vertical == 'full' {
      bottom: 0; top: 0;
    }
  } @else if $method == 'flex' {

  } @else if $width != null and $height != null {

  }
}
@mixin absolute-positioning($type){
        @if $type == 'container' {
                position: relative;
        } @else if $type == 'top-left' {
                position: absolute;
                top: 0;
                left: 0;
        } @else if $type == 'top-center' {
                position: absolute;
                top: 0;
                margin: 0 auto;
        } @else if $type == 'top-right' {
                position: absolute;
                top: 0;
                right: 0;
        } @else if $type == 'middle-center' {
        /* Absolute center: http://www.smashingmagazine.com/2013/08/09/absolute-horizontal-vertical-centering-css/ */
                width: 50%;
                height: 50%;
                overflow: auto;
                margin: auto;
                position: absolute;
                top: 0; left: 0; bottom: 0; right: 0;
        } @else if $type == 'middle-left' {
                position: absolute;
                margin: auto;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
        } @else if $type == 'middle-right' {
                position: absolute;
                top: 0;
                left: 0;
        } @else if $type == 'bottom-left' {
                position: absolute;
                bottom: 0;
                left: 0;
        } @else if $type == 'bottom-center' {
                position: absolute;
                margin: 0 auto;
                bottom: 0;
        } @else if $type == 'bottom-full-width' {
                position: absolute;
                left: 0; bottom: 0; right: 0;
        } @else if $type == 'bottom-right' {
                position: absolute;
                bottom: 0;
                right: 0;
        } @else if $type == 'full-height-child' {
                @include flexbox((
                        display: flex
                ));
                & > * {
                        flex: 1;
                }
        }
}
@mixin blockquote($type){
        blockquote {
                &.alignleft,
                &.alignright {
                        padding-top: $gutter;
                        width: 50%;
                }
                if $type = line {
                        border-top: 1px solid rgba(0, 0, 0, 0.1);
                        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                }
        }
}
@mixin vertical-align(){
        @include transform-style(preserve-3d);
        & > * {
                position: relative;
                top: 50%;
                @include translateY(-50%);
        }
}
@mixin align($grid){
  // Flex align
  .flex {
    &.#{$grid}children-align-top {
      @include align-container(null, 'top', 'flex');
    }
    &.#{$grid}children-align-middle {
      @include align-container(null, 'middle', 'flex');
    }
    &.#{$grid}children-align-baseline {
      @include align-container(null, 'baseline', 'flex');
    }
    &.#{$grid}children-align-bottom {
      @include align-container(null, 'bottom', 'flex');
    }
  }
  // Float align
  .#{$grid}alignnone {
    margin: rem-calc(10px 5px 10px 0);
  }
  .#{$grid}alignleft {
    float: left;
  }
  .#{$grid}alignright {
    float: right;
  }
  .#{$grid}aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  // Text align
  .#{$grid}text-align-left {
    @include align-container('left', null, $method: 'text');
  }
  .#{$grid}text-align-center {
    @include align-container('center', null, $method: 'text');
  }
  .#{$grid}text-align-right {
    @include align-container('right', null, $method: 'text');
  }
}
/*
& > .flex-grow1 {// equal width children
  @include flexbox((
    flex-grow: 1
  ));
}
&.nowrap {
  @include flexbox((
    flex-wrap: nowrap
  ));
}
&.align-top {
  @include align-items(flex-start);
}
&.align-bottom {
  @include align-items(flex-end);
}
&.align-middle {
  @include align-items(center);
}
&.align-baseline {
  @include align-items(baseline);
}
&.align-left {
  @include justify-content(flex-start);
}
&.align-center {
  @include justify-content(center);
}
&.align-right {
  @include justify-content(flex-end);
}
*/
