@mixin align-container($horizontal: null, $vertical: null, $method: null, $child-width: null, $child-height: null){
/*
        @if $height != null {
                height: $height;
        }
*/
  @if $method == 'text' {
    
  } @else if $method == 'float' {
    
  } @else if $method == 'position' {
    position: relative;
  } @else if $method == 'flex' {
    @if $vertical == 'middle' and $horizontal == 'center' {
      @include display-flex();
      @include justify-content(center);
      @include align-items(center);
    }
  }
}
@mixin align-child($horizontal: null, $vertical: null, $method: null, $width: null, $height: null){
// Fonti: http://www.w3.org/Style/Examples/007/center.en.html, 
// method: 'text' or 'inline' | 'float' | 'position' | 'flex';
  @if $method == 'text' {
    
  } @else if $method == 'float' {
    
  } @else if $method == 'position' {
    display: block;// useful if child is an inline element
    @if $horizontal == 'center' {
      @if $vertical == 'middle' {
              left: 50%;
              margin-right: -50%;
      } @else {
              margin: 0 auto;
      }
    } @else if $horizontal == 'right' {
      right: 0;
    } @else if $horizontal == 'full' {
      left: 0; right: 0;
    }
    @if $vertical != null or $horizontal != null {
      position: absolute;
    }
    @if $vertical == 'middle' {
      margin-top: 0;
      margin-bottom: 0;
      position: absolute;
      top: 50%;
      @if $horizontal == 'center' {
              transform: translate(-50%,-50%);
      } @else {
              transform: translateY(-50%);
      }
    } @else if $vertical == 'bottom' {
      bottom: 0;
    } @else if $vertical == 'full' {
      bottom: 0; top: 0;
    }
  } @else if $method == 'flex' {
    
  } @else if $width != null and $height != null {
    
  }
}
@mixin absolute-positioning($type){
        @if $type == 'container' {
                position: relative;
        } @else if $type == 'top-left' {
                position: absolute;
                top: 0;
                left: 0;
        } @else if $type == 'top-center' {
                position: absolute;
                top: 0;
                margin: 0 auto;
        } @else if $type == 'top-right' {
                position: absolute;
                top: 0;
                right: 0;
        } @else if $type == 'middle-center' {
        /* Absolute center: http://www.smashingmagazine.com/2013/08/09/absolute-horizontal-vertical-centering-css/ */
                width: 50%;
                height: 50%;
                overflow: auto;
                margin: auto;
                position: absolute;
                top: 0; left: 0; bottom: 0; right: 0;
        } @else if $type == 'middle-left' {
                position: absolute;
                margin: auto;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
        } @else if $type == 'middle-right' {
                position: absolute;
                top: 0;
                left: 0;
        } @else if $type == 'bottom-left' {
                position: absolute;
                bottom: 0;
                left: 0;
        } @else if $type == 'bottom-center' {
                position: absolute;
                margin: 0 auto;
                bottom: 0;
        } @else if $type == 'bottom-full-width' {
                position: absolute;
                left: 0; bottom: 0; right: 0;
        } @else if $type == 'bottom-right' {
                position: absolute;
                bottom: 0;
                right: 0;
        } @else if $type == 'full-height-child' {
                @include flexbox((
                        display: flex
                ));
                & > * {
                        flex: 1;
                }
        }
}
@mixin blockquote($type){
        blockquote {
                &.alignleft,
                &.alignright {
                        padding-top: $gutter;
                        width: 50%;
                }
                if $type = line {
                        border-top: 1px solid rgba(0, 0, 0, 0.1);
                        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                }
        }
}
@mixin vertical-align(){
        @include transform-style(preserve-3d);
        & > * {
                position: relative;
                top: 50%;
                @include translateY(-50%);
        }
}