.font-size-08 {
  font-size: $text-small-font-size;
  font-color: $text-small-color;
}
.font-size-10 {
  font-size: 1em;
  font-size: 1rem;
}
.font-size-12 {
  font-size: 1.2em;
  font-size: 1.2rem;
}
.font-size-15 {
  font-size: 1.5em;
  font-size: 1.5rem;
}
.font-size-20 {
  font-size: 2em;
  font-size: 2rem;
}