body.admin-bar {
  &.header-fixed {
    #wpadminbar {
      position: fixed;
    }
  }
}
@media screen and (max-width: $wpadminbar-breakpoint) {
  body.admin-bar {
    &.header-fixed {
      #header {
        top: $wpadminbar-lt_breakpoint-height;
      }
      #nav1,
      .modal{
        &.full-page,
        &.fixed {
          top: $wpadminbar-lt_breakpoint-height + $vgrid-header-height;
        }
      }
      .header-tall {
        #nav1,
        .modal{
          &.full-page,
          &.fixed {
            top: $wpadminbar-lt_breakpoint-height + $vgrid-header-tall-height;
          }
        }
      }
    }
  }
}
@media screen and (max-width: $vgrid-max-width) and (min-width: ($wpadminbar-breakpoint + 1)) {
  body.admin-bar {
    &.header-fixed {
      #header {
        top: $wpadminbar-ge_breakpoint-height;
      }
      #nav1,
      .modal{
        &.full-page,
        &.fixed {
          top: $wpadminbar-ge_breakpoint-height + $vgrid-header-height;
        }
      }
      &.header-tall {
        #nav1,
        .modal{
          &.full-page,
          &.fixed {
            top: $wpadminbar-ge_breakpoint-height + $vgrid-header-tall-height;
          }
        }
      }
    }
  }
}
@media screen and (min-width: ($vgrid-max-width + 1)) {
  body.admin-bar {
    &.header-fixed {
      #header {
        top: $wpadminbar-ge_breakpoint-height;
      }
      #nav1,
      .modal{
        &.full-page,
        &.fixed {
          top: $wpadminbar-ge_breakpoint-height + $hgrid-header-height;
        }
      }
      &.header-tall {
        #nav1,
        .modal{
          &.full-page,
          &.fixed {
            top: $wpadminbar-ge_breakpoint-height + $hgrid-header-tall-height;
          }
        }
      }
    }
  }
}
